---
import Layout from "../layouts/Layout.astro"
import Header404 from "../components/Header-404.astro"
import Main404 from "../components/Main-404.astro"
import Footer404 from "../components/Footer-404.astro"
---

<Layout title="404 Not Found">
	<header><Header404 /></header>
	<main><Main404 /></main>
	<footer><Footer404 /></footer>
</Layout>
