<div
    class="flex flex-col items-center pt-[5rem] px-6 md:flex-row md:px-20 md:justify-center"
>
    <img
        class="w-[85%] pb-16 md:w-[33rem]"
        src="/404-not-found-page/Scarecrow.png"
        alt="scarecorw"
    />
    <div
        class="flex flex-col h-[25rem] justify-evenly md:w-[36.6rem] md:gap-y-9 md:h-[30rem]"
    >
        <h1
            class="text-[#333] font-bold text-5xl font-Space leading-normal tracking-[-0.105rem] flex-1 md:text-[4rem] md:tracking-[-0.14rem]"
        >
            I have bad news for you
        </h1>
        <p
            class="text-[#4F4F4F] font-Space text-xl font-[400] leading-normal tracking-[-0.04rem] flex-1 md:text-2xl md:tracking-[-0.0525rem] md:w-[23rem]"
        >
            The page you are looking for might be removed or is temporarily
            unavailable
        </p>
        <a
            class="w-[13.5rem] h-[4.25rem] bg-[#333] text-white font-Space text-sm font-bold leading-normal tracking-[-0.03rem] uppercase text-center p-[1.35rem] flex-shrink-0 flex-"
            href="#">Back to homepage</a
        >
    </div>
</div>
